.actor-card {
  width: 200px;
  height: auto;
  margin: 5px;
  cursor: pointer;
}

.actor-avatar {
  max-width: 100%;
  min-height: 261px;
  height: auto;
}

.actor-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .actor-card {
    width: calc(50% - 20px);
  }
}
